@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@layer components {
  .landing-header {
    @apply text-blue-900 font-bold;
  }
  .landing-icon {
    @apply object-cover rounded-xl bg-blue-100 p-3 w-fit h-fit;
  }
  .nav-hover {
    @apply hover:underline cursor-pointer;
  }
  .customer-form {
    @apply w-[320px];
  }
}

@theme inline {
  --font-michroma: var(--font-michroma);
}
